{% extends 'adminapp/appointment_base.html' %}

{% block url %}{% url 'form_step2' %}{% endblock url %}

{% block steps %}
<div class="steps">
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step"></div>
    <div class="step"></div>
</div>
{% endblock steps %}

{% block form %}
{% csrf_token %}
<div class="form-inside">
    {% csrf_token %}
    <div class="table-container"> 
    <table>
        <tbody>
            {% for service in services %}
            <tr>
                <td>
                    <input type="checkbox" name="services" value="{{ service.id }}">
                </td>
                <td>{{ service.name }}</td>
                <td>{{ service.time }}</td>
                <td>{{ service.price }}</td>
                <td>&#x20BD;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock form %}