{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{%  block extrastyles %} 
<link rel="stylesheet" rel="preload" href="{% static 'mainapp/css/desktop/about.css' %}" media="screen">
{% endblock %}



{% block content %}
    {% for profile in profiles %}
    <div class="content-block">
        <div class="image-wrapper">
            <img src="{{ profile.image.url }}" class="image" alt="{{ profile.head }} - изображение">
        </div>
        <div class="description">
            <h1>{{ profile.head }}</h1>
            <p>{{ profile.text  }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
