{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>Запись на прием</title>
{% endblock %}

{%  block extrastyles %} 
<link rel="stylesheet" href="{% static 'mainapp/css/desktop/appointment.css' %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}


{% block content %}
{% if user.is_authenticated and not user.is_superuser %}
<form method="post" action="{% url 'appointment_step2' %}">
    <div class="form-header">
        <h1 class="form-title">Запись на прием</h1>

        <div class="steps">
            <div class="step active"></div>
            <div class="step active"></div>
            <div class="step"></div>
            <div class="step"></div>
        </div>
    </div>

    <div method="post">
        {% csrf_token %}
        {{ form }}

        <div class="container">
            <div class="row d-flex justify-content-end">
                <div class="col-2">
                    <a href="{% url 'index' %}" style='text-decoration: none;' class="btn btn-left btn-main">Назад</a>

                </div>
                <div class="col-2 ">
                    <button type="submit" class="btn btn-right btn-main text-white">Далее</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Подключите сам flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Подключите локализацию для русского языка -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/l10n/ru.js"></script>

<script type="module">


    // Передаем список дат как массив в JavaScript
    const availableDates = JSON.parse("{{ available_dates|safe }}".replace(/'/g, '"'));
    const minDate = "{{ available_dates|first }}";
    const maxDate = "{{ available_dates|last }}"

    flatpickr("#datepicker", {
        enable: availableDates, // Доступные даты
        minDate: minDate, 
        maxDate: maxDate,
        dateFormat: "Y-m-d", // Устанавливаем формат даты для flatpickr
        locale: {
            ...flatpickr.l10ns.ru,
            firstDayOfWeek: 1,
        },
        onDayCreate: function(dObj, dStr, fp, dayElem) {
        // Преобразуем дату в формат YYYY-MM-DD
        const date = dayElem.dateObj.toISOString().split('T')[0];

        // Проверяем, что дата в availableDates, и она в том же формате
        if (availableDates.some(d => d.trim() === date)) {
            dayElem.style.textDecoration = "underline"; // Подчеркивание
        }
        }
    });
</script>
<script>
    document.getElementById("datepicker").placeholder = "Выберите дату              📅";
</script>
{% else %}
    <p class="centered-text">Авторизуйтесь чтобы записаться на прием &#128521;</p>
{% endif %}



{% endblock %}

