{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>Запись на прием</title>
{% endblock %}

{% block extrastyles %} 
<link rel="stylesheet" href="{% static 'mainapp/css/desktop/appointment.css' %}"/>
{% block styles %} 
{% endblock %}
{% endblock %}



{% block content %}
{% if user.is_authenticated and not user.is_superuser %}

{% if error_message %}
{{ error_message }}
{% endif %}

<form method="post" action="{% block url %}{% endblock url %}">
    <div class="form-header">
        <h1 class="form-title">Запись на прием</h1>
        <div class="steps">
            {% block steps %}
            {% endblock %}
        </div>
    </div>

    {% block form %}

    {% endblock %}

    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-2">
                <a href="{% url 'index' %}" style='text-decoration: none;' class="btn btn-left btn-main">Назад</a>

            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-right btn-main text-white">Далее</button>
            </div>
        </div>
    </div>
</form>

{% else %}
    <p class="centered-text">Авторизуйтесь чтобы записаться на прием &#x2764;&#xFE0F;</p>
{% endif %}

{% block scripts %}
{% endblock scripts %}

{% endblock %}


