{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
<!-- <div class="container">
    <div class="head">
        <ul>
            <li><img src="{% static 'mainapp/images/загрузка (2).jpeg' %}" alt=""></li>
            <li><img src="{% static 'mainapp/images/загрузка.jpeg' %}" alt=""></li>
            <li><img src="{% static 'mainapp/images/загрузка (3).jpeg' %}" alt=""></li>
            <li><img src="{% static 'mainapp/images/загрузка (1).jpeg' %}" alt="пупа"></li>
        </ul>
    </div>

    <div class="manicur">

    </div>

    <div class="pedicur">

    </div>
</div> -->

{% endblock %}


