{% load static %}


{%  block extrastyles %} 
<link rel="stylesheet" href="{% static 'mainapp/css/desktop/login.css' %}" media="screen and (min-width: 769px)">
<link rel="stylesheet" href="{% static 'mainapp/css/mobile/login.css' %}" media="screen and (max-width: 768px)">
{% endblock %}


<!DOCTYPE html>
<html lang="ru" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
<div>
    <div class="divform">
        <div class="logo-container">
            <img src="{% static 'mainapp/images/Логотип.png' %}" alt="Beauty_Dom">
        </div>
        <h2>Вход в аккаунт</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'signup' %}">Регистрация</a></p>
        <p><a href="{% url 'recover_password1' %}">Забыли пароль</a></p>
    </div>
</div>
</body>
</html>