{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block extrastyles %} 
<link rel="stylesheet" href="{% static 'mainapp/css/desktop/profile.css' %}" media="screen">
{% endblock %}

{% block content %}
{% if user.is_authenticated and not user.is_superuser %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mb-4">Профиль пользователя</h2>
                    
                    <!-- Фото профиля -->
                    <div class="text-center mb-4">
                        <h3>Фото профиля</h3>
                        {% if user.picture_user %}
                        <img src="{{ user.picture_user.url }}" alt="Фото профиля" class="rounded-circle" style="width: 150px; height: 150px;">
                        {% else %}
                        <img src="{% static 'mainapp\images\загрузка (2).jpeg' %}" class="rounded-circle" alt="Default Image" style="width: 150px; height: 150px;">
                        {% endif %}
                        
                    </div>

                    <!-- Данные пользователя -->
                    <div class="mb-4">
                        <h3>Данные пользователя</h3>
                        <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                        <p><strong>Электронная почта:</strong> {{ user.email }}</p>
                        <!-- Добавьте другие поля пользователя по необходимости -->
                    </div>

                    <!-- Кнопки для выхода и удаления аккаунта -->
                    <div class="row">
                        <div class="col-12 mb-3">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Вы уверены, что хотите выйти?')">Выйти</button>
                            </form>
                        </div>

                        <div class="col-12">
                            <form method="post" action="{% url 'delete_account' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Вы уверены, что хотите удалить аккаунт Beauty_Dom?')">Удалить учетную запись</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
