{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{%  block extrastyles %} 
<link rel="stylesheet" href="{% static 'mainapp/css/desktop/profile.css' %}" media="screen and (min-width: 769px)">
{% endblock %}



{% block content %}



{% if user.is_authenticated and not user.is_superuser %}
<div class="container">
    <div class="row align-items-stretch">
        <div class="col-3">
            <div class="user-container">    
                <h2>Профиль пользователя</h2>
                <div>
                    <h2>Фото профиля</h2>
                    <img src="{{ my_data.profile.photo.url }}" alt="Фото профиля" style="width: 150px; height: 150px;">
                </div>
                
                <!-- Область для данных пользователя -->
                <div>
                    <h2>Данные пользователя</h2>
                    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                    <p><strong>Электронная почта:</strong> {{ user.email }}</p>
                    <!-- Добавьте другие поля пользователя по необходимости -->
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="submit" value="Выйти" class="form-control" onclick="return confirm('Вы уверены, что хотите выйти?')">
                            </form>
                        </div>

                        <div class="col-12">
                            <form method="post" action="{% url 'delete_account' %}">
                                {% csrf_token %}
                                <input type="submit" value="Удалить учетную запись" class="form-control" onclick="return confirm('Вы уверены, что хотите удалить аккаунт Beauty_Dom?')">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}



{% endblock %}