{% extends 'mainapp/base.html' %}
{% load static %}

{%  block extrastyles %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'mainapp/css/login.css' %}">
{% endblock %}


{% block content %}
    <div class="divform"> 
        <div class="logo-container">
            <a href="{% url 'index' %}">
                <img src="{% static 'mainapp/images/Логотип.png' %}" alt="Beauty_Dom">
            </a>
        </div>

        <h2>Регистрация</h2>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="container g-0">
                <div class="row">
                    {% for field in form %}
                    <div class="col-md-6 col-sm-12">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <button class="button-submit" type="submit">Регистрация</button>
            </div>
        </form>
        <div class="links">
            <p>Есть аккаунт?<a href="{% url 'login' %}"> Войти</a></p>
        </div>

    </div>
{% endblock %}