.mobile-menu {
    display: none; /* Скрыть меню по умолчанию */
    list-style-type: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем маргини */
}

.mobile-menu.active {
    display: block; /* Показывать меню, когда добавлен класс active */
}

.burger-menu {
    cursor: pointer; /* Курсор в виде руки на бургер-меню */
}

.bar {
    display: block; /* Каждая линия меню */
    width: 30px; /* Ширина линий */
    height: 3px; /* Высота линий */
    margin: 5px auto; /* Отступы для линий */
    background-color: #333; /* Цвет линий */
}





