.form-header-container {
    text-align: center;
}

.form-header {
    display: flex;
    text-align: center;
    color: #2c2c2cc9;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
/* Стиль формы */

form {
    max-width: 800px;
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #EFA3B0;
    overflow: hidden; /* Убираем лишние отступы */
}

/* .form-inside {
    width: 100%;
    height: auto; 
    background: #fff;
    border-radius: 5px;
    color: #000000;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
} */



.form-control, .form-group label, .btn-primary {
    font-family: 'Raleway', sans-serif;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #fff;
    color: #333;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #ff69b4;
}

/* Стиль для кнопки */




.btn-right {
    background: linear-gradient(to left, #B1CDE2, #EFA3B0);
    color: #fff;
}

.btn-left {
    border: 2px solid #00000017; /* Обводка */
}


textarea {
    resize: none;
    width: 100%;
    height: 150px;
}


.centered-text {
    position: absolute; /* Позволяет расположить элемент относительно ближайшего позиционированного родителя */
    top: 50%; /* Сдвигаем вниз на 50% высоты экрана */
    left: 50%; /* Сдвигаем вправо на 50% ширины экрана */
    transform: translate(-50%, -50%); /* Центрируем элемент */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 24px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    width: 100hv;
    height: 100hv;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 30 px;
    border-color: #000000;
}


.steps {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 110%;
    width: 20%;
    border-radius: 15px;
}

.step {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-weight: bold;

    background-color: #ffffff;
    border: 1px solid #00000055;

}

.step.active {
    background-color: #B1CDE2;/* Текущий шаг */
}


/* Выровненные кнопки */
.container-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; /* Верхний отступ для смещения вниз */
}

table {
    width: 100%;            /* Растягивает таблицу на всю ширину контейнера */
    height: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Центрирование таблицы */

}

th, td {
    padding: 10px;          /* Внутренние отступы */
    border-bottom: 1px solid #ddd;
}


.table-container {
    width: 100%;
    max-height: 350px; /* Задайте желаемую высоту контейнера */
    overflow-y: auto; /* Вертикальная прокрутка, если содержимое превышает высоту */
    overflow-x: auto; /* Горизонтальная прокрутка при необходимости */
}

.table-container::-webkit-scrollbar {
    display: none; /* WebKit: скрывает полосу прокрутки */
}

input[type="checkbox"] {
    transform: scale(1.8); /* Увеличивает чекбокс в 1.5 раза */
}

.error_block {
    width: 800px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #EFA3B0;
    overflow: hidden; /* Убираем лишние отступы */
}


