.user-container {
    height: 450px; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto; 
    border: 3px solid #ff6ab25d; 
    text-align: center;
    background-color: #ffffff;
    

}

.user-container h2 {
    font-size: 24px;           
    margin-bottom: 15px;      
    text-align: center; /* Центрирование текста */
}

.user-container p {
    font-size: 16px;          
    margin-bottom: 10px;      
}

.user-container .user-avatar {
    width: 80px;              
    height: 80px;             
    border-radius: 50%;       
    object-fit: cover;         
    margin-bottom: 20px;     
     
}

.appointment {
    padding: 20px;
    height: 450px; 
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto; 
    overflow-x: auto; 
}

.appointments-container{  
    border: 3px solid #ff6ab25d;
    border-radius: 10px;
    background-color: #ffffff;
}

th, td {
    padding: 10px;          
    border-bottom: 1px solid #ddd;
}

table {
    width: 100%;         
    height: 100%;
    border-collapse: collapse;
    margin: 0 auto; 

}


























